#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.active {
  color: #FF0000; /* Change the font color to red for current page */
}

a:hover {
  color: #000; /* Keep the font color black on hover */
}